body {
  background-color: rgb(6, 68, 6);
  text-align: center;
  
}

h1 {
  color: white;
  font-size: 50px;
}

p {
  color: white;
  font-size: 40px;
}

.link-tap {
  color: white;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}